@charset "utf-8";
    
body{
background-color: #AAf;
    text-align: center;
   
}

h2 {
color: white;
    font-size: 22px;

}

.boton{
    margin-bottom: 35px;
background-color: #c99;
    color: #fff;
    border: solid white 4px;
    box-shadow: 2px 2px 5px #f89;
    border-radius: 25%;
    text-align: center;
    display: inline-block;
    padding: 15px;


}

.boton:hover{
border-radius: 100%;

}

.imagen{

   
height: 300px;
    width: 400px;
    display: inline-block;
    text-align: center;
   
   
    padding-bottom: 140px;
      background: URL(../ima/crono.png)center no-repeat ;

}

#crono {
margin-top: 10px; 
padding: 30px;
    font-size: 100px;

}

#lista{
font-size: 20px;
    color: #fff;
}